<main>
  <section class="container" aria-labelledby="task-list-heading">
    <h2 id="task-list-heading" class="visually-hidden">List of Tasks</h2>

    <div class="row mt-3 justify-content-between">
      <div class="col-5 com-sm-7">
        <button type="button" class="btn btn-primary" (click)="handleAddTask()">
          Add Task
        </button>
      </div>

      <div class="col-7 col-sm-5">
        <mbau-sort-control
          [value]="tasksStore.sortBy()"
          (sortChange)="handleSortChange($event)"
        />
      </div>
    </div>

    <div class="row mt-3">
      @for (task of tasksStore.currentPageItems(); track task.id; let first =
      $first) {
      <div class="col-12 col-md-6 col-lg-4 gy-3">
        <mbau-task-card [task]="task" />
      </div>
      }
    </div>

    @if (tasksStore.totalPages() > 1) {
    <div class="row mt-3">
      <div class="col-12">
        <ngb-pagination
          class="d-flex justify-content-end"
          [collectionSize]="tasksStore.totalItems()"
          [pageSize]="tasksStore.pageSize()"
          [page]="tasksStore.currentPage()"
          (pageChange)="handlePageChange($event)"
        />
      </div>
    </div>
    }
  </section>
</main>

<dialog class="border-1 border-secondary-subtle rounded w-100" #addTaskDialog>
  @if (addTaskDialog.open) {
  <mbau-task-form
    (formCancel)="addTaskDialog.close()"
    (formSubmit)="handleSubmitTask($event)"
  />
  }
</dialog>
